[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
cli="python3 fhirloader/main.py"
check-format="black -t py38 --check --diff fhirloader"
format="black -t py38 fhirloader"

[packages]
requests = "*"
black = "==21.8b0"

[dev-packages]

[requires]
python_version = "3.9"
